body{

    background-color: rgb(180, 180, 180);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    

}
header{

    justify-items: center;
    text-align: center;
    color:rgb(0, 0, 0);
    text-shadow: 0 8px 15px black;
    font-size: 1.4em;


}

.cartelera {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    position: relative;
    width: 220px;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px black;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Efecto de escala al pasar el ratón por la tarjeta */
.card:hover {
    transform: scale(1.05);
}

/* Imagen de la película dentro de la tarjeta */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Capa oscura que aparece al hacer hover sobre la tarjeta para mostrar información adicional */
.overlay {
    position: absolute;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.95);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;


}

/* Hace visible la capa .overlay al hacer hover sobre la tarjeta */
.card:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color:  rgb(180, 180, 180);
    text-shadow: 0 8px 15px black;
}

.horarios {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}

.horarios div {
    background: #333;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
}

.botones {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* Estilos para los botones de acción */
.botones button {
    background-color:  rgb(180, 180, 180);
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    text-shadow: 0 8px 15px black;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}







/*  Detalles   */

.mainDetalles{

    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 1.4em;

}
.mainDetalles h1{

    text-shadow: 0 8px 15px rgb(88, 88, 88);

}
.izquierda{

    display: flex;
    flex-direction: column;
    gap: 20px;

}
.izquierda img{

    width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 5px black;

}
.izquierda button{

    width: 100%;
    height: 4em;
    border: 1px solid black;
     box-shadow: 0 2px 5px black;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
.horariosDetalles{

    display: flex;
    gap : 5px;

}
.horariosDetalles div{

    background-color: #6868687c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;

}


/*  Trailer */

.mainTrailer{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;

}
.mainTrailer h1{
    
    text-shadow: 0 8px 15px rgb(88, 88, 88);

}
.mainTrailer iframe{

    box-shadow: 0 2px 5px black;

}
.derecha button, .mainTrailer button{
    margin-top: 20px;
    width: 4em;
    height: 4em;
    border: 1px solid black;
    box-shadow: 0 2px 5px black;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

